<mat-card class="product-card" [appearance]="'outlined'">
  <mat-card-header class="product-card-header">
    <mat-card-title>{{ product.title }}</mat-card-title>
    <mat-card-subtitle>{{ product.brand }}</mat-card-subtitle>
    <p class="product-stock">{{ product.stock }} in stock</p>
  </mat-card-header>
  <img
    class="product-card-image"
    mat-card-image
    [src]="product.thumbnail"
    alt="Product Image"
  />
  <mat-card-content class="product-card-content">
    <p>{{ product.description }}</p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions class="product-card-footer">
    <p class="product-price">{{ product.price | currency }}</p>
    <mat-chip color="warn" highlighted disableRipple="'true'">{{
      product.category
    }}</mat-chip>
    <button mat-flat-button color="primary">Add to cart</button>
  </mat-card-actions>
</mat-card>
